DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'your_database_name',
        'USER': 'your_database_user',
        'HOST': 'your_database_host',
        'PASSWORD': 'your_database_password',
        'PORT': 'your_database_port'
    }
}

SITE_ID = 1

DEBUG = True

SECRET_KEY= 'your_special_secret_key'
